li>a.active{
    background-color: rgba(241, 47, 47, 0.644) !important;
}
ul>a.active{
  background-color: rgba(241, 47, 47, 0.644) !important;
}

nav{

  background-color: rgba(0, 0, 0, 0.548);  
}
body {
    margin: 0;
    padding: 0;
    background-image: url(https://images.pexels.com/photos/1303862/pexels-photo-1303862.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

 
 
