body {
  margin: 0;
  padding: 0;
  background-image: url(https://images.pexels.com/photos/1303862/pexels-photo-1303862.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#login .container #login-row #login-column #login-box {
  margin-top: 60px;
  max-width: 600px;
  height: auto;
  border: 1px solid #979494;
  background-color: #eaeaeaad;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
